/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* CUSTOM PROPS */
:root {
  --text-color: #333;
  --green: #0A775F;
  --green-80: rgba(10, 119, 95, 0.8);
  --green-60: rgba(10, 119, 95, 0.6);
  --brown: #C99B67;
  --brown-80: rgba(201, 155, 103, 0.8);
  --brown-60: rgba(201, 155, 103, 0.6);
  --light-bg: #F8F8F2;
  --footer-bg: #F3D7B7;
  --outline-color: var(--green)
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: #fff;
  color: var(--text-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 3px dashed var(--outline-color);
  outline-offset: 3px;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #fff;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.button-green {
  background-color: var(--green);
}

.button-green:hover {
  background-color: var(--green-80);
}

.button-green:active {
  background-color: var(--green-60);
}

.button-brown {
  background-color: var(--brown);
}

.button-brown:hover {
  background-color: var(--brown-80);
}

.button-brown:active {
  background-color: var(--brown-60);
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* SITE_HEADER_HERO_WRAPPER */
.site-header-hero-wrapper {
  background-color: #F3D7B7;
}

.site-header {
  padding: 40px 50px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.site-header-logo-link {
  display: inline-block;
  flex-shrink: 0;
}

.site-header-logo-link:hover {
  opacity: 0.8;
}

.site-header-logo-link:active {
  opacity: 0.6;
}

.site-header-logo-img {
  display: flex;
  width: 235px;
  height: 24px;
}

.site-header-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
}

.site-header-item:not(:last-child) {
  margin-right: 40px;
}

.site-header-item-link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.site-header-item-link:hover {
  color: var(--green);
}

.site-header-item-link:active {
  opacity: 0.6;
}


/* HERO */
.hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hero-info {
  width: 100%;
  max-width: 730px;
  padding-top: 116px;
  padding-right: 116px;
  padding-left: 150px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
  color: #000;
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.hero-text:not(:last-child) {
  margin-bottom: 34px;
}

.hero-img-wrapper {
  position: relative;
}

.hero-img {
  display: block;
  width: 710px;
  height: 596px;
  object-fit: cover;
}

.hero-img-index {
  height: 696px;
}

.hero-img-2 {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-45%, -45%);
  width: 160px;
  height: 160px;
}


/* COLLECTION */
.index-collection {
  margin-top: 0;
  margin-bottom: 20px;
}

.index-collection-inner {
  position: relative;
  padding: 50px 143px;
  background-color: var(--light-bg);
  background-image: url(../img/collaction.jpg);
}

.index-collection-heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.index-collection-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-collection-item {
  display: flex;
  align-items: center;
}

.index-collection-item:nth-child(even) {
  flex-direction: row-reverse;
}

.index-collection-img {
  flex-shrink: 0;
  display: flex;
  width: 450px;
  height: 375px;
  object-fit: cover;
}

.index-collection-info {
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}

.index-collection-info-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: normal;
  color: var(--text-color);
}

.index-collection-info-text {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  color: var(--text-color);
}

.index-collection-info-text:not(:last-child) {
  margin-bottom: 10px;
}

.index-collection-leaves-left {
  position: absolute;
  top: 40px;
  left: -188px;
}

.index-collection-leaves-right {
  position: absolute;
  top: 685px;
  right: -328px;
}

.index-collection-leaves-left-light {
  position: absolute;
  left: -216px;
  bottom: 170px;
}



/* INDEX-FEATURE */
.index-feature {
  margin-top: 0;
}

.index-feature-inner {
  padding: 50px 30px;
  background-image: url(../img/brown-bg.jpg);
  background-size: 100% 700px;
  background-repeat: no-repeat;
}

.index-feature-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 50px;
  line-height: normal;
  color: #fff;
  text-align: center;
}

.index-feature-text {
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
}

.index-feature-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  list-style: none;
}

.index-feature-item {
  width: calc(100%/3 - 20px);
  margin-left: 20px;
  margin-bottom: 30px;
}

.index-feature-item:not(:last-child) {
  margin-bottom: 20px;
}

.index-feature-img {
  margin-top: 0;
  margin-bottom: 28px;
  width: 433px;
  height: 500px;
  object-fit: cover;
}

.index-feature-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: normal;
  color: var(--text-color);
  text-transform: uppercase;
}

.index-feature-item-text {
  width: 100%;
  max-width: 377px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.index-feature-item-img {
  position: absolute;
  left: -55px;
  top: -60px;
  width: 140px;
  height: 144px;
}



/* HOW-IT-WORKS */
.index-how-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 50px 30px;
  background-color: var(--green);
  background-image: url(../img/green-bg.jpg);
}

.index-how-heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.index-how-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  list-style: none;
  counter-reset: how-it-works;
}

.index-how-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100%/3 - 20px);
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: 20px;
  counter-increment: how-it-works;
}

.index-how-item::before {
  margin-bottom: 20px;
  z-index: 5;
  width: 60px;
  height: 60px;
  border: 4px solid var(--brown);
  background-color: var(--light-bg);
  content: "";
}

.index-how-item:not(:last-child)::after {
  position: absolute;
  top: 30px;
  width: 433px;
  height: 3px;
  background-image: url(../img/brown-dashed-line.svg);
  background-repeat: no-repeat;
  content: "";
}

.index-how-item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: var(--light-bg);
}

.index-how-item-info::before {
  align-self: flex-end;
  margin-bottom: 45px;
  font-size: 64px;
  line-height: 75px;
  color: var(--text-color);
  content: "0"counter(how-it-works);
}

.index-how-item-heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}


.index-how-sticker {
  position: absolute;
  width: 227px;
  height: 190px;
  top: 41px;
  right: 68px;
}

.index-how-cta:focus {
  outline-color: var(--brown);
}


/* SITE-FOOTER */
.site-footer {
  background-color: var(--footer-bg);
}

.site-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
}

.site-footer-logo-link {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 246px;
  flex-shrink: 0;
}

.site-footer-logo-img {
  display: flex;
  width: 235px;
  height: 24px;
}

.site-footer-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 330px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.site-footer-item:not(:last-child) {
  margin-right: 40px;
}

.site-footer-item-link {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.site-footer-item-link:hover {
  color: var(--green);
}

.site-footer-item-link:active {
  opacity: 0.6;
}


.footer-socials-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-socials-item:not(:last-child) {
  margin-right: 30px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
}

.footer-socials-link:hover {
  background-color: var(--green);
}

.footer-socials-link:active {
  opacity: 0.6;
}

.footer-socials-img {
  width: 30px;
  height: 30px;
}

.footer-socials-img:hover {
  background-color: var(--green);
}





/* RETINA */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .index-feature-inner {
    background-image: url(../img/brown-bg@2x.jpg);
  }

  .index-how-inner {
    background-image: url(../img/green-bg@2x.jpg);
  }

  .index-collection-inner {
    background-image: url(../img/collaction@2x.jpg);
  }
}